@{
    ViewData["Title"] = "EcoTech Renova - Tu Fuente de Componentes Renovables";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a EcoTech Renova!</h1>
    <p>Descubre nuestra amplia selección de componentes electrónicos renovables para alimentar tus proyectos sostenibles.</p>
    <p>Explora nuestras categorías y encuentra productos de alta calidad que impulsarán tu innovación verde.</p>
    <a class="btn btn-primary" href="/Productos/productos">Ver Productos</a>
</div>
