@model EcoTech_Renova.Models.Producto

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarProducto" method="post" enctype="multipart/form-data" asp-controller="Productos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCategoria" class="control-label">Categoría</label>
                <select asp-for="IDCategoria" asp-items="@ViewBag.Categorias" class="form-control">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="IDCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenProducto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ImagenProducto" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile"></label>
                </div>
                <span asp-validation-for="ImagenProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDUsuario" class="control-label"></label>
                <input asp-for="IDUsuario" class="form-control" value="@ViewBag.IDVendedor" readonly/>
                <span asp-validation-for="IDUsuario" class="text-danger"></span>
            </div>                       
            <div class="form-group">
                <input type="submit" value="Vender Producto" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Productos">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
